.project-lane {
    min-width: 300px;
    max-width: auto;
}

.project-lane-heading {
    padding: 16px;
    background-color: #181B29;
    border-radius: 4px;
    margin-bottom: 8px;
}

.project-lane-heading__label,
.project-lane-heading__label--add {
    font-weight: 500;
    color: #ffffff;
}

.project-lane-heading__itemCount {
    margin-left: 8px;
    padding: 4px 8px;
    background-color: #505E9F;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.project-lane-item--selected {
    border: 2px solid #728BFF !important;
}

.project-lane-item {
    background-color: #181B29;
    padding: 8px;
    border-radius: 8px;
    transition: border 150ms ease;
    border: 2px solid transparent;
    margin-bottom: 8px;
    user-select: none;
}

.project-lane-item:hover {
    cursor: pointer;
    border: 2px solid rgb(72, 130, 255);
    /* box-shadow: -9px 10px 12px -3px rgba(214, 214, 214, 0.75);
    -webkit-box-shadow: -9px 10px 12px -3px rgba(214, 214, 214, 0.75);
    -moz-box-shadow: -9px 10px 12px -3px rgba(214, 214, 214, 0.75); */
}


.project-lane-item__row {
    display: flex;
    justify-content: space-between;
}

.project-lane-item__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 14px;
}

.project-lane-item__tag {
    margin-right: 3px;
    font-size: 12px;
    padding: 2px 4px;
    border: 1px solid #c8c8c8;
    color: #c8c8c8;
}

.project-lane-item__priority {
    font-size: 14px;
    font-weight: 600;
}

.project-lane-item__title {
    color: rgb(221, 221, 221);
    margin-bottom: 12px;
}

.project-lane-item__description {
    margin-bottom: 28px;
    display: -webkit-box;
    max-width: 400px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: rgba(221, 221, 221, 0.653);
    text-overflow: ellipsis;
}

.project-lane-item__members {
    display: flex;

}

.project-lane-item__member {
    height: 30px;
    width: 30px;
    margin-right: -8px;
    background-color: #484B69;
    border-radius: 50%;
    border: 1px solid gray;
    /* box-shadow: 0px 0px 10px 2px rgb(209, 209, 209); */
}

.project-lane-add_ticket,
.project-lane-heading--add {
    text-align: center;
    background-color: #505E9F;
    padding: 14px 0;
    border: 3px dashed #B5B8E7;
    cursor: pointer;
    margin-bottom: 8px;
    transition: background-color 250ms ease;
    font-weight: bold;
    border-radius: 4px;
    color: white;
}

.project-lane-add_ticket:hover,
.project-lane-heading--add:hover {
    background-color: #B5B8E7;
    color: #181B29;
}