.create-ticket {
    width: 800px;
    background-color: #282A40;
}

.create-ticket__title {
    margin-bottom: 24px;
    color: rgb(221, 221, 221);
}

.dynamic-delete-button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
}

.create-ticket>label {
    color: rgb(221, 221, 221);

}

.dynamic-delete-button:hover {
    color: #777;
}

.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.create-ticket__form {
    padding: 24px;
}

.create-ticket__image-picker {
    height: 300px;
    width: 100%;
    background-color: rgb(83, 102, 250);
    position: relative;
}

.create-ticket__image {
    height: 300px;
    width: 100%;
    object-fit: cover;

}

.create-ticket__image {}

.create-ticket__random-image-button {
    position: absolute;
    bottom: 14px;
    left: 14px;

    background-color: transparent;
    border: 3px solid white;
    padding: 8px 18px;
    color: white;
    font-weight: bold;
    transition: color, background-color 250ms ease;
}

.create-ticket__random-image-button:hover {
    cursor: pointer;
    background-color: black;
}

.create-ticket__image--placeholder {
    background-color: rgb(86, 92, 255);
}