.navigation {
    grid-column: 1/1;
    grid-row: 1/3;
    background-color: #282A40;
    padding: 16px 12px;
    width: 350px;
    min-width: 350px;
}

.navigation__divider {
    background-color: #484B69;
    height: 1px;
    border: none;
}

.navigation__items {
    margin: 16px 0;
}