.project-board {
    background-color: #484B69;
    border-radius: 12px;
    padding: 16px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-column-gap: 16px;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: auto;
    flex-grow: 1;
}